body {
    height: 90.8vh;
    width: 95vw;
    /*background-image: url("./images/Super-Moving-Wallpaper.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
}

.top {
    height: 16vh;
    margin-left: 6%;
}

.input {
    position: absolute;
    top: 79.7%;
    right: 41.8%;
    height: 9%;
    width: 18%;
    font-size: 2vw;
}