:root {
    --cupLeft: 20%;
    --cupPosition : relative;
    --buttonTop: 46.5%;
    --buttonRight: 25%;
    --transitionDuration: 1s;
}

.board {
    height: 500%;
    width: 80%;
    margin: auto;
    border: 2px solid black;
    margin-top: 5%;
}

.reset {
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 79.33%;
}

.submit {
    display: inline-block;
    position: absolute;
    margin-right: 2%;
    right: 30%;
    top: 79.3%;
}

.start {
    display: inline-block;
    position: absolute;
    right: 32%;
    top: 69.5%;
    width: 38vw;
}

.cup {
    position: absolute;
    top: 10vh;
    left: 20vw;
    height: 39vh;
    width: 18vw;
    display : inline-block;
    transform: rotate(180deg);
}

.position1 {
    position: absolute;
    left: 0vw;
    transition-duration: var(--transitionDuration);
 }

.position2 {
    position: absolute;
    left: 15%;
    transition-duration: var(--transitionDuration);
}

.position3 {
    position: absolute;
    left: 20vw;
    transition-duration: var(--transitionDuration);
}








